body {
	background: #ddd;
}

#typo3_clearcache_options {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;
	width: 800px;
	min-height: 150px;
	margin: 0 auto;
}

#typo3_clearcache_options #heading {
	background: url('images/icon48.png') no-repeat 5px 5px;
	padding: 5px 0 6px 60px;
	margin-bottom: 10px;
}

#typo3_clearcache_options #content {
	border: 1px solid #bbb;
	background: #fff;
	min-height: 300px;
}

#typo3_clearcache_options #heading h1 {
	font-size: 20px;
	margin: 0 0 3px;
}
#typo3_clearcache_options #heading h1 small {
	font-size: 13px;
	color: darkred;
}
#typo3_clearcache_options #heading p {
	font-size: 13px;
	color: #555;
	margin: 0;
}

#typo3_clearcache_options #content {
	padding: 10px 30px;
}

#typo3_clearcache_options #content h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid #bbb;
}

#typo3_clearcache_options #content .success {
	color: darkgreen;
}
#typo3_clearcache_options #content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#typo3_clearcache_options #content ul li {
	padding-bottom: 20px;
}

#typo3_clearcache_options #content ul li label {
	line-height: 20px;
}

#typo3_clearcache_options #content ul li label span {
	display: block;
}


/** {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*::selection {*/
	/*background: #64d153;*/
	/*color: #fff;*/
	/*text-shadow: none;*/
/*}*/

/*h1, h2, h3 {*/
	/*font-family: Georgia, 'Times New Roman', Times, serif;*/
	/*margin-bottom: -5px;*/
/*}*/

/*h3 {*/
	/*background-color: rgba(61, 167, 41, 0.48);*/
	/*color: rgba(27, 54, 23, 0.99);*/
	/*padding: 5px;*/
/*}*/

/*h1 {*/
	/*margin: 0 0 -15px 0;*/
/*}*/

/*a {*/
	/*color: inherit;*/
	/*text-decoration: inherit;*/
/*}*/

/*a span {*/
	/*text-decoration: underline;*/
/*}*/

/*a.txtlink {*/
	/*text-decoration: none;*/
	/*border-bottom: 1px dotted #356816;*/
	/*color: #356816;*/
/*}*/

/*body {*/
	/*background-color: #eee;*/
	/*font-size: 0.95em;*/
/*}*/

/*.contentTxt {*/
	/*margin-bottom: 5px;*/
/*}*/

/*#heading {*/
	/*text-align: right;*/
/*}*/

/*.inlineicon {*/
	/*vertical-align: bottom;*/
	/*width: 16px;*/
	/*height: 16px;*/
/*}*/

/*#content, #footer {*/
	/*width: 400px;*/
	/*padding: 7px;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

/*#content {*/
	/*border: 5px solid #64d153;*/
	/*background-color: #fff;*/
	/*border-radius: 7px;*/
/*}*/

/*#footer {*/
	/*text-align: right;*/
/*}*/

/*#footer img {*/
	/*margin-right: -7px;*/
/*}*/

/*.hint {*/
	/*font-size: 0.8em;*/
	/*padding: 7px;*/
	/*width: 190px;*/
	/*text-align: center;*/
	/*background-color: rgb(251, 242, 185);*/
	/*border-radius: 5px;*/
/*}*/

/*.hint img {*/
	/*vertical-align: bottom;*/
/*}*/

/*.contribute {*/
	/*font-size: 10px;*/
	/*color: #808080;*/
	/*float: left;*/
	/*text-decoration: none;*/
/*}*/

/*.contribute span {*/
	/*text-decoration: underline;*/
/*}*/
